@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
	font-family: "Montserrat", sans-serif;
	background-color: #FFFFFF;
}


header{
	text-align: center;

	
}

nav{
	text-align: center;
}

main{
	max-width: 1500px;
	margin: 20px auto;
	padding: 10px;
}
nav{
  text-align: center;
  background-color: #ecf9ec;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  padding: 10px;
}
nav ul{
	list-style-type: none;
	margin: 8px 0;
	padding: 0;

}
nav a{
  text-decoration: none;
}
nav li{
	display: inline;
	padding: 10px;
  
}

nav a:link{
  color: red;
}
nav a:visited{
  color: red;
}
nav a:hover{
  color:yellow;
}


h1,h2,h3{
	    
	    color: #006666;
}

h1{
	font-size: 3.5em;
	margin: 0;
}

h2{
	
	
	padding:5 px;
	font-size: 2em;
	font-weight: 100;

}
h5{
				
				padding: 5px;
				margin: 20px;
				border: 10px solid #006666;
				background-color: #ecf9ec;
				border-radius: 20%;
			}
.page{
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

	border: 2px solid black;
}

nav a:active{
  color:black;
}

/* this is the start for the hero image */
.home-hero{
	background-image: url(images/flower.jpg);
	background-size: cover;
	border-bottom: 5px solid black;
}
.home-hero h1{
	text-align: center;
	color: #006666;
	text-shadow: 2px 2px 2px black;
	margin: 0;
	padding: 50px 0;
	font-size: 60px;

}
.hero-logo{
	margin: 0px auto;
	display: block;
	padding: 5px;
	border: 5px solid black;
	border-radius: 50%;
	background-color: #006666;

}

.image-circle{
	margin: 0auto;
	display: block;
	border: 3px solid black;
	border-radius: 50%;
}
.home-photo{
	float: right;
	max-width: 80%;
	height: auto;
	margin: 10px auto;
		box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

body{
	background-color: #ffffff;
	font-family: "Montserrat", sans-serif;
	margin:0;
}
footer{
	text-align: center;
	max-width: 2500px;
	margin: 30px auto;
	padding: 10px;
	
	border-top: black 3px solid;
	background-color: #ecf9ec;
	border-bottom: black 3px solid;
	clear: both;
}
a:link{
	    color: #006666;
}
a:visited{
	    color: #006666;
}
a:hover{
	    color: light purple;
}
a:active{
	    color: black;
}
.logo{
	margin: 0 auto;
	display: block;
}
.image-circle{
	margin: 50px auto;
	float: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.my-button:link{
  background-color: #009999;
	text-color: #111111;
	margin: 50px auto;
	padding: 10px;
	border: 10px solid #111111;
	border-radius: 30px;
	

}
.my-button:hover{
	background-color: #ecf9ec;
	text-decoration: none;
}
.gallery .preview{
    width: 100%;
    height: auto;
}

.gallery .gallery-thumbnails img {
   width: 100px;
   height: 75px;
   margin: 3px 10px 10px 0;
   box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	border: 5px solid black;
}

.gallery .gallery-thumbnails img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.gallery .preview img#preview {
    padding: 1px;
    max-width: 100%;
    height: auto;
    margin: 0 auto !important;
    display: block !important;
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	  border: 5px solid black;
}


/*CSS without a media query--applies to all sizes unless overridden*/
h1{
		font-size: 4em;
 }
/* CSS Adjustments for Tablets */
@media only screen and (max-width: 1024px) {
	h1{
		font-size: 1.8em;
}
}
/* CSS Adjustments for Smartphones */
@media only screen and (max-width: 768px) {
	h1{
		font-size: 1.5em;
	}
}


